{% extends "base.html"%}

{% block content %}

<div class="card">
    <div class="card-header">
        <h2>Nuevo personal</h2>
    </div>
    <div class="card-body">
        <form action="" method="POST">
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            <div class="bm-3">
                <label for="" class="form-label">Telefono</label>
                <input type="text" class="form-control" name="telefono">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Fecha Nacimiento</label>
                <input type="date" class="form-control" name="fecha_nac">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}

